/* styles/mp3player.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
}

.mp3-player-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
